*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    height: 100px;
    background-color: rgb(255, 255, 255);
    border: red 2px solid;
}
h1{
    color: red;
}
.container{
    width: 80%;
    height: 100%;
    margin: auto;   
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0)
}
.navbar{
    display: flex;
    width: 50%;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}
.navbar li {
    font-weight: lighter;
    color: rgb(0, 0, 0);
}
.navbar li a{
 text-decoration: none;
 color: rgb(0, 0, 0) ;
}
.navbar .active{
    font-weight: bolder;
}